* {
    font-size: 0;
}

body {
    font-family: "Playfair Display", "Arial", sans-serif;
    color: #626262;
}

.container {
    width: 900px;
    margin: 0 auto;
}

/* SITE NAVIGATION */

.site__navigation__list li,
.articles__list li {
    display: inline-block;
    list-style: none;
}

.site_navigation_area {
    padding: 72px 0px 100px 0px;
}

.site__navigation__list li:nth-child(1) {
    margin-left: 166px;
    margin-right: 122px;
}

.site__navigation__list li:nth-child(2) {
    margin-right: 104px;
}

.site__navigation__list li:nth-child(3) {
    margin-right: 95px;
}

.site__navigation__list li:last-child {
    margin-right: 0px;
}

.site__navigation__list a {
    display: inline-block;
    color: #626262;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.site__navigation__list a:hover,
.site__navigation__list a:focus {
    color: #03a9f4;
}

/* SITE ATICLES */

.article {
    width: 420px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 130px;
    text-align: left;
    vertical-align: top;
}

.article:nth-last-child(-n +2) {

    margin-bottom: 0px;
}

.article:nth-child(even) {
    margin-right: 0px;
}

.articles__list {
    margin: 0;
    padding: 0;
}

.article img {
    margin-bottom: 30px;
}

.article__tag {
    font-family: "Ubuntu", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #b4ad9e;
}

.article__name {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.article__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
}

/* BUTTON */

.button__section {
    text-align: center;
    margin: 0 auto;
}

.load__more__btn {
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 165px;
    height: 60px;
    margin: 53px 0px 70px 0px;
    padding: 0;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    cursor: pointer;
}

.load__more__btn:hover,
.load__more__btn:focus {
    border-color: #03a9f4;
    color: #03a9f4;
}

.visually__hidden:not(:focus):not(:active),
input[type="checkbox"].visually__hidden,
input[type="radio"].visually__hidden {
    position: absolute;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}