/* * {
    outline: 1px solid red;
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

/* Header */

.header_div {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.page_header {
    font-family: "Montserrat", sans-serif;
}

.site_title_link {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #95e1d3;
}

.navigation_list {
    display: flex;
}

.navigation_list_item {
    padding-top: 21px;
}

.navigation_list_item:not(:last-of-type) {
    margin-right: 50px;
}

.navigation_list_item_link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #95e1d3;
    padding-bottom: 10px;
}

.navigation_list_item_link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: transparent;
    margin-top: 10px;
}

.navigation_list_item_link:hover::after {
    background-color: #f38181;
    transition-duration: 0.5s;
}

.navigation_list_item_link:hover {
    color: #f38181;
    transition-duration: 0.5s;
}


/* Amazing Services section */

.services_div {
    padding-top: 80px;
}

.section_title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.italic_text {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    line-height: 29px;
    text-transform: none;
    font-weight: 400;
}

.section_title::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 42px auto 0;
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services_list_item {
    display: flex;
    flex: 0 0 390px;
    margin-bottom: 100px;
}

.services_image_box {
    min-width: 90px;
}

.services_image_box_photography::after,
.services_image_box_webdesign::after,
.services_image_box_creativity::after,
.services_image_box_seo::after,
.services_image_box_css::after,
.services_image_box_digital::after {
    margin: 0 auto;
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.services_image_box_photography::after {
    background-image: url(../img/ico/clock_32_31.png);
}

.services_image_box_webdesign::after {
    background-image: url(../img/ico/graph_32_32.png);
}

.services_image_box_creativity::after {
    background-image: url(../img/ico/computer_32_28.png);
}

.services_image_box_seo::after {
    background-image: url(../img/ico/book_32_32.png);
}

.services_image_box_css::after {
    background-image: url(../img/ico/house_32_31.png);
}

.services_image_box_digital::after {
    background-image: url(../img/ico/square_32_32.png);
}

.service_name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333333;
    margin-bottom: 14px;
}

.service_description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/* Meet Our Team Section */

.team_section_description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 94px;
    text-align: center;
}

.team_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_list_item {
    text-align: center;
    flex: 0 0 380px;
}


.image_div {
    margin-bottom: 30px;
    transition: all 0.2s linear;
}

.image_div:hover {
    transform: translate(-10px, -10px);
}

.team_member_photo {
    display: block;
}

.image_div img:hover {
    transform: translate (-10px, -10px);
    transition: transform 0.2s linear;
}

.team_list_item_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px #95e1d3;
    opacity: 0;
}

.image_div:hover .team_list_item_overlay {
    opacity: 1;
    transition: all 0.2s linear .3s;
    background-image: linear-gradient(90deg, rgb(252, 227, 138, 0.9) 0%, rgb(243, 129, 129, 0.9) 100%);
}

.overlay_fb,
.overlay_tw,
.overlay_pin,
.overlay_inst {
    width: 55px;
    height: 56px;
    background-color: #fce38a;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
}

.overlay_fb:hover,
.overlay_tw:hover,
.overlay_pin:hover,
.overlay_inst:hover {
    background-color: #95e1d3;
}

.overlay_fb {
    background-image: url(../img/ico/socials/facebook_13_26.png);
}

.overlay_tw {
    background-image: url(../img/ico/socials/twitter_26_22.png);
}

.overlay_pin {
    background-image: url(../img/ico/socials/pinterest_21_26.png);
}

.overlay_inst {
    background-image: url(../img/ico/socials/instagram_26_26.png);
}

.team_member_name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333333;
    margin-bottom: 14px;
}

.team_member_role {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #999999;
    margin-bottom: 80px;
}

/* Footer */

.page_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_line:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.designer_description {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    padding: 27px 0;
}

.designer_description a {
    color: #f38181;
}

.requrest_for_email {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.email_field {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    padding: 0 16px 0;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #cccccc;
}

.form_btn {
    width: 150px;
    height: 40px;
    border: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #95e1d3;
    color: #fff;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
    position: absolute;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}